<br>

<footer class="text-center text-white" style="background-color:#080a11; font-size: 1rem;">
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
  </div>
  <section class="sectFooter" style="color:gray">
    <div class="container text-center text-md-start mt-3">
      <div class="row mt-3">
        <!-- Dev column -->
        <div class="col-4 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Dev
          </h6>
          <p>
            <img class="rounded-circle" height="100px" width="100px" src="/psj/assets/avatars/reinn.jpeg">
            <br>
            <a class="text-white" href="https://github.com/reinanbr"><i>ReinanBr</i></a>
          </p>
        </div>

        <!-- Temas column -->
        <div class="col-4 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Temas</h6>
          <p><a href="/psj/errors/making.html" class="text-reset">Mecânica e Dinâmica</a></p>
          <p><a href="/psj/errors/making.html" class="text-reset">Fluídos</a></p>
          <p><a href="/psj/errors/making.html" class="text-reset">Termodinâmica</a></p>
          <p><a href="/psj/errors/making.html" class="text-reset">Ondas</a></p>
          <p><a href="/psj/simulations/electromagnetism" class="text-reset">Eletromagnetísmo</a></p>
          <p><a href="/psj/errors/making.html" class="text-reset">Física Moderna</a></p>
        </div>

        <!-- Contato column -->
        <div class="col-4 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
          <p><i class="fas fa-envelope me-3"></i>gmail: slimchatuba</p>
          <p><i class="fas fa-print me-3"></i> + 55 74 9 9932 - 9688</p>
          <p><i class="fas fa-home me-3"></i> Juazeiro - BA</p>
          <p><a href="/privacity" class="text-reset">Política de Privacidade</a></p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-3" style="background-color: #030706; color:#566463; font-size: 1rem;">
    <small> © 2023
      <a class="text-white" style='color:#566463' href="https://github.com/reinanbr">ReySofts</a>
    </small>
  </div>
</footer>
