


<nav class="shadow navbar navbar-expand-lg navbar-light " style="background-color: #0a0016;">
    <a class="text-white" href="/psj">
      <img src="/psj/assets/icons/spj.png" width="30" height="30" class="d-inline-block rounded align-top" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/psj/errors/making.html">Dinâmica </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/psj/errors/making.html">Fluídos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="/psj/errors/making.html">Termodinâmica </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/psj/errors/making.html">Ondas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="//psj/errors/making.html">Optíca </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="/psj/simulations/electromagnetism">Eletromagnetismo </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="/psj/errors/making.html">Física Moderna </a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>

    </div>
  </nav>




