{% extends "base/layout" %} 

{% block page %}
<br><br>

  <div class='painel rounded'>
    <h5>Filosofia Natural das Coisas</h5>
    <div>
      <hr />
      <small><i>"É numa substância simples, e não num composto ou numa máquina, que a percepção deve ser
          procurada."</i></small>
      <br><small><i><b>- Gottfried Leibniz </b></i></small>
      <hr>
      <small><i>A verdade sempre pode ser encontrada na simplicidade, e não na multiplicidade e confusão das
          coisas</i><br>
        <i> <b>- Isaac Newton</b></i></small>
    </div>
  </div>


  <br.<br><br>

    <div class=' rounded exp'>
      <h5></h5>
      <div>
        <small>
          <p>Os fenômenos aqui meramente ilustrados (sejam estes fenômenos teóricos ou reais) em pequenas e simples
            simulações, servem apenas para o estudante refletir um pouco mais sobre o assunto do qual está sendo
            estudado.
          </p>
        </small>
      </div>
    </div>



    <div class=' rounded exp2'>
      <h5></h5>
      <div>
        <small>
          <p>É um extremo prazer, sem ganho nenhum, poder te ajudar, de alguma forma, em aprender e absorver os determinados
            conteúdos aqui presentes, meu caro aluno!
            <br>
            Espero que sua jornada por aqui seja bastante frutífera, tanto para você, mas como também para as pessoas perto de
            ti, porque sei que
            alcançando você com ensino de qualidade, eu também estarei, de alguma forma, alcançando as pessoas próximas
            a ti também.
            <br><i><b>- Reinan B., Dev & Professor</b></i>
          </p>
        </small>
      </div>
    </div>

    <hr style="background-color:gray">
    <div class=' rounded exp3'>
      <h5></h5>
      <div>
        <small>
          <p><i>"Não sei o que posso parecer ao mundo, mas para mim mesmo pareço ter sido apenas como um menino
              brincando à
              beira-mar, e me divertindo de vez em quando procurando uma pedra mais lisa ou uma concha mais bonita do
              que
              o normal, enquanto o grande oceano da verdade estava desconhecido diante de mim.
              " </i><br><i><b>- Isaac Newton</b></i></p>
        </small>
      </div>
    </div>


{% endblock %}
