<!doctype html>
<html>
  <head>
    <title>Rocket Example - {{ title }}</title>
  </head>
  <body>
    {% include "home/base/nav" %}
    {% block page %}{% endblock %}
    {% include "home/base/footer" %}
  </body>
</html>
